{% extends 'site.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div id="list">
        <div v-if="articles.length">
            <div class="ui link cards four column doubling stackable">
                <div v-for="article in articles" class="column card">
                    <div class="image">
                        <a v-bind:href="article.pageUri">
                            <img v-bind:src="article.posterUrl" class="ui fluid image"/>
                        </a>
                    </div>
                    <div class="content">
                        <div class="header">${ article.name }$</div>
                        {#
                        <div class="meta">${ article.type }$</div>
                        #}
                        <div class="description" style="height: 100px; overflow-y: hidden">
                            ${ article.description }$
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">${ article.year }$</span>
                        <span><i class="user icon"></i> ${ article.ageRating }$ </span>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>

            <br>
            <br>
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Загрузка</div>
            </div>
            <br>
            <br>

        </div>
    </div>

    <script>
        const ListApp = {
            delimiters: ['${', '}$'],
            data() {
                return {
                    articles: []
                }
            },
            mounted() {

            }
        }

        const vueApp = Vue.createApp(ListApp).mount('#list')

        restApi.get('article/list', function (response) {
            if (response && response.ok) {
                vueApp.articles = response.list;
            }
        });

    </script>

{% endblock %}
