{% extends 'site.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div id="list">
        <div v-if="titles.length">
            <div class="ui link cards four column doubling stackable">
                <div v-for="title in titles" class="column card">
                    <div class="image">
                        <a v-bind:href="title.pageUri">
                            <img v-bind:src="title.posterUrl" class="ui fluid image"/>
                        </a>
                    </div>
                    <div class="content">
                        <div class="header">${ title.name }$</div>
                        {#
                        <div class="meta">${ title.type }$</div>
                        #}
                        <div class="description" style="height: 100px; overflow-y: hidden">
                            ${ title.description }$
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">${ title.year }$</span>
                        <span><i class="user icon"></i> ${ title.ageRating }$ </span>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>

            <br>
            <br>
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Загрузка</div>
            </div>
            <br>
            <br>

        </div>
    </div>

    <script>
        const ListApp = {
            delimiters: ['${', '}$'],
            data() {
                return {
                    titles: []
                }
            },
            mounted() {

            }
        }

        const vueApp = Vue.createApp(ListApp).mount('#list')

        restApi.get('title/list', function (response) {
            if (response && response.ok) {
                vueApp.titles = response.list;
            }
        });

    </script>

{% endblock %}
