<div class="ui vertical menu" style="width: 100%">
    <a class="active teal item">Входящие <div class="ui teal left pointing label">1</div>
    </a>
    <a class="item">Спам <div class="ui label">51</div>
    </a>
    <a class="item">
        Updates
        <div class="ui label">1</div>
    </a>
    <div class="item">
        <div class="ui transparent icon input">
            <input type="text" placeholder="Поиск письма">
            <i class="search icon"></i>
        </div>
    </div>
</div>